
<app-cabecera></app-cabecera>

    <div class="container">
        <aside class="sidebar">
            <h2>Todos los modelos</h2>
            <div class="modelos">
                <h3>Modelo</h3>
                <div class="modelo-buttons">
                    <button>A1</button>
                    <button>A3</button>
                    <button>A5</button>
                    <button>A6</button>
                    <button>A6 e-tron</button>
                    <button>A7</button>
                </div>
            </div>
            <div class="tipos">
                <h3>Tipo de vehículo</h3>
                <div class="tipo-buttons">
                    <button>Sportback</button>
                    <button>Deportivos</button>
                    <button>Sport</button>
                </div>
            </div>
            <h3>Modelos eléctricos</h3>
            <h3>Híbridos enchufables</h3>
        </aside>
        
        <main class="modelos-display">
            <h1>Audi A3</h1>
            <div class="modelo-card">
                <img src="a3-sportback.jpg" alt="A3 Sportback">
                <h3>A3 Sportback</h3>
                <p>desde 33.290,00 EUR IVA incl.</p>
                <button>Descubrir</button>
                <button>Configurar</button>
                <p class="stock">Stock nuevo y de ocasión (S05)</p>
                <p>Consumo de combustible: 6,1–4,6 L/100 km; Emisiones combinadas de CO2: 139–122 g/km</p>
            </div>
            <div class="modelo-card">
                <img src="a3-sportback-tfsle.jpg" alt="A3 Sportback TFSIe">
                <h3>A3 Sportback TFSIe</h3>
                <p>desde 46.230,00 EUR IVA incl.</p>
                <button>Descubrir</button>
                <button>Configurar</button>
                <p class="stock">Stock nuevo y de ocasión (310)</p>
                <p>Consumo de combustible: 0,4–0,3 L/100 km | Corriente: 16,5–14,7 kWh/100 km; Emisiones combinadas de CO2: 9–6 g/km</p>
            </div>
            <div class="modelo-card">
                <img src="a3-sedan.jpg" alt="A3 Sedan">
                <h3>A3 Sedan</h3>
                <p>desde 34.220,00 EUR IVA incl.</p>
                <button>Descubrir</button>
                <button>Configurar</button>
                <p class="stock">Stock nuevo y de ocasión (88)</p>
                <p>Consumo de combustible: 6,0–4,5 L/100 km; Emisiones combinadas de CO2: 137–119 g/km</p>
            </div>
        </main>
    </div>


<app-footer></app-footer>