<app-cabecera></app-cabecera>

<video id="myVideo1" autoplay muted loop style="cursor: pointer;">
   
</video>

    <div class="filters">
        <input type="checkbox" id="todos" checked>
        <label for="todos">Todos</label>
        <button>100% eléctrico</button>
        <button>Híbrido enchufable</button>
        <button>Sportback</button>
        <button>allstreet</button>
        <button>Sedan</button>
        <button>Sport</button>
        <button>Avant</button>
        <button>Deportivo</button>
        <button>SUV</button>
    </div>

   
<div class="car-gallery">
    <div *ngFor="let coche of coches" class="car" (click)="irConfiguracion(coche.id)">
  <img [src]="coche.imagenes_ruta && coche.imagenes_ruta.length > 0 
            ? baseImageUrl + coche.imagenes_ruta[0] 
            : 'assets/default.jpg'" 
     alt="{{ coche.nombre }}">


        <h3>{{ coche.nombre }}</h3>
      <p>Kit: {{ coche.kit?.paquete }}</p>
<p>Modelo: {{ coche.modelo?.nombre }}</p>
        <p>Precio: {{ coche.precio_total | currency:'EUR' }}</p>
    </div>
</div>



  <div class="slider-container">
    <button class="slider-btn prev" (click)="prevSlide()">‹</button>

    <div class="slider" id="slider">
      <img class="imagen-audi" *ngFor="let img of carImages" [src]="img" alt="Coche" />
    </div>

    <button class="slider-btn next" (click)="nextSlide()">›</button>
  </div>


    <div class="container">
        <h1>Contenidos destacados</h1>
        <div class="grid">
            <div class="card">
                <img src="image1.jpg" alt="Revisión gratuita Audi Spring Check">
                <p>Revisión gratuita Audi Spring Check</p>
            </div>
            <div class="card">
                <img src="image2.jpg" alt="Audi driving experience">
                <p>Audi driving experience</p>
            </div>
            <div class="card">
                <img src="image3.jpg" alt="Tu Audi de ocasión, sin esperas">
                <p>Tu Audi de ocasión, sin esperas</p>
            </div>
            <div class="card">
                <img src="image4.jpg" alt="Segunda edición del Audi e-tron drive">
                <p>Segunda edición del Audi e-tron drive</p>
            </div>
        </div>
    </div>
<app-footer></app-footer>



